<html>
<head>
</head>
<body>
    <div>
        <h1>公開講演</h1>
        <ul>
            <li>{{ concertList[0].data }} {{ concertList[0].place }} {{ concertList[0].time }}</li>
            <li>{{ concertList[1].data }} {{ concertList[1].place }} {{ concertList[1].time }}</li>
            <li>{{ concertList[2].data }} {{ concertList[2].place }} {{ concertList[2].time }}</li>
        </ul>
    </div>    
</body>
</html>